.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    justify-items: center;
    align-items: center;

    justify-content: center;
    align-content: center;

    gap: 1em;
}

.items{
    position: relative;
    padding: 2rem;

    background-color: black;
    color: white;
    text-align: center;

    border-radius: 8px;
    font-size: 2rem;

    justify-items: center;
    align-items: center;
    
    overflow: hidden;
}

.items img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.items h2, p{
    font-size: 1rem;
}